:root {
  --container-max-width: 1200px;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  box-sizing: border-box;
}

.main-section {
  display: flex;
  justify-content: center;
}
