:root {
  --text: hsl(148, 37%, 10%);
  --background: hsl(144, 37%, 92%);
  --primary: hsl(147, 36%, 29%);
  --secondary: hsl(223, 39%, 70%);
  --accent: hsl(249, 38%, 43%);

  --black: #0c090a;
  --white: #faf3f6;

  --text: var(var(--black));
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(148, 37%, 90%);
    --background: hsl(144, 35%, 15%);
    --primary: hsl(147, 36%, 71%);
    --secondary: hsl(223, 39%, 30%);
    --accent: hsl(249, 38%, 57%);

    --text: var(var(--white));
  }
} */
