:root {
  --text: #01040e;
  --background: #f3f4fe;
  --primary: #4763d4;
  --secondary: #f9917f;
  --accent: #f6f340;

  --black: var(--text);
  --white: #faf3f6;
  --gray: #e8e8e8;
  --underlay: var(--primary);
}
