@import url("../utils/colors.css");

.btn {
  /* display: inline-block; */
  padding: 1rem 2rem;
  border: 2px solid var(--black);
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.1rem var(--black);
  font-weight: 600;
  &.-plain {
    background: var(--background);
  }
}

.btn:hover,
.btn:focus {
  opacity: 0.85;
  box-shadow: 0.125rem 0.125rem 0.05rem var(--black);
  cursor: pointer;
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
}
.btn-secondary {
  background: var(--secondary);
  color: var(--text);
}
.btn-tertiary {
  background: var(--accent);
  color: var(--text);
}
