.header-section {
  position: sticky;
  top: 0;
  background: var(--primary);
  color: var(--white);
  z-index: 10;
  padding: 2rem;
}

.hamburger-menu {
  padding: 0.5rem;
  width: 4rem;
  display: none;
  justify-content: space-between;
  > .bar {
    height: 5px;
    width: 100%;
    background: var(--black);
  }
}

.site-nav {
  > .item {
    color: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 0.25rem 0.5rem;
    transition: background 0.5s, color 0.25s;
    border-radius: 0.25rem;

    &:hover {
      background: var(--secondary);
      /* color: var(--text); */
      transition: background 0.5s, color 0.25s;
    }
  }
}

@media (max-width: 860px) {
  .header-section {
    padding: 1rem;
    > .title {
      display: none;
    }
  }

  .hamburger-menu {
    display: flex;
  }

  .site-nav {
    position: absolute;
    left: 0.25rem;
    top: 4rem;
    width: 0;
    opacity: 0;
    padding: 0.5rem;
    overflow: hidden;
    transition: width 0.4s ease, opacity 0.4s ease;

    > .item {
      font-size: 2rem;
      text-align: center;
      background: var(--background);
      border: 2px solid var(--black);
      box-shadow: 4px 4px 1px var(--black);
    }

    &.-active {
      width: 62vw;
      opacity: 1;
    }
  }
}
