.header-section {
  position: sticky;
  top: 0;
  background: var(--primary);
  color: var(--text);
  z-index: 100;
}

.hamburger-menu {
  padding: 0.5rem;
  width: 4rem;
  display: none;
  justify-content: space-between;
  > .bar {
    height: 5px;
    width: 100%;
    background: var(--black);
  }
}

.navbar-component {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--black);
  box-shadow: 0.25rem 0.25rem var(--black);
}

.site-nav {
  > .item {
    color: inherit;
    max-width: 1600px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-out;
    border-radius: 0.25rem;

    &:hover {
      background: var(--secondary);
      color: var(--white);
    }
  }
}

@media (max-width: 860px) {
  .header-section {
    padding: 1rem;
    > .title {
      display: none;
    }
  }

  .hamburger-menu {
    display: flex;
  }

  .site-nav {
    position: absolute;
    left: 0.25rem;
    top: 4rem;
    width: 0;
    opacity: 0;
    padding: 0.5rem;
    overflow: hidden;
    transition: width 0.4s ease, opacity 0.4s ease;

    > .item {
      font-size: 2rem;
      text-align: center;
      background: var(--background);
      border: 2px solid var(--black);
      box-shadow: 4px 4px 1px var(--black);
    }

    &.-active {
      width: 62vw;
      opacity: 1;
    }
  }
}
