@import url(./base/colors.css);

.site-header {
  width: 100%;
  padding: 0 3rem;
  box-sizing: border-box;
  position: sticky;
  top: 10px;
  background: var(--color-bg);
  z-index: 1;
}

.header-inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 10px 10px;
  border: 3px solid var(--color-black);
  border-bottom: 7px solid var(--color-black);
  display: flex;
  padding: 10px 40px;
}

.nav-social .nav-list {
  gap: 5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-link,
.nav-item {
  font-size: 1.333 rem;
}

.nav-item {
  text-shadow: -1px 1px 1px var(--color-black);
}

.nav-link img {
  width: 2rem;
}
