@import url("./base.css");
@import url("./utils/colors.css");
@import url("./layout/flex.css");
@import url("./layout/container.css");
@import url(./components/button.css);
@import url("./components/card.css");
@import url("./components/header.css");

body {
  margin: 2rem auto;
  border: 2px solid var(--black);
  background: var(--background);
  color: var(--text);
  box-shadow: 1rem 1rem var(--black);
  border-radius: 1rem;
  contain: paint;
  max-width: 1600px;
}

.hero-section {
  /* margin: 1rem; */
  text-align: center;
  height: 85vh;
  background: var(--primary);
  border-bottom: 1rem solid var(--black);
  > .image {
    border: 2px solid var(--black);
    box-shadow: 0.5rem 0.5rem var(--black);
    contain: paint;
    border-radius: 1rem;
  }
}

.hero-text {
  margin-bottom: 1rem;
  > .title {
    font-size: 3.25rem;
    text-align: right;
  }
  > .content {
    text-align: right;
  }
  > .button {
    font-size: 1.1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
  gap: 1rem;
  padding: 0;
}

@media (max-width: 460px) {
  body {
    margin: 0;
    box-shadow: unset;
    /* border: unset; */
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
