@import url("./base.css");
@import url("./utils/colors.css");
@import url("./layout/flex.css");
@import url("./layout/container.css");
@import url(./components/button.css);
@import url("./components/card.css");
@import url("./components/header.css");

body {
  margin: 0 auto;
  margin: 1rem 2rem;
  border: 4px solid var(--black);
  background: var(--background);
  color: var(--text);
  box-shadow: 1rem 1rem var(--black);
}

.hero-section {
  text-align: center;
  background: var(--primary);
  > .image {
    border: 4px solid var(--black);
    box-shadow: 0.5rem 0.5rem var(--black);
  }
}

.hero-text {
  margin-bottom: 1rem;
  > .title {
    font-size: 2rem;
    text-align: left;
  }
  > .content {
    background: var(--secondary);
    padding: 0.5rem 1rem;
    border: 4px solid var(--black);
    text-align: justify;
  }
  > .button {
    font-size: 1.1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
  gap: 1rem;
  padding: 0;
}

@media (max-width: 460px) {
  body {
    margin: 0;
    box-shadow: unset;
    border: unset;
  }
}
