.justify-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: justify;
  }
}

/* Flex utils */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
